body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #5fb408;
}

.quem-somos {
    background-color: gray;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: green;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}